.places__image {
    max-width: 460px;
    max-height: 460px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
    outline: 1px red solid;
}

@media screen and (max-width: 1024px) {
    .places__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (max-width: 768px) {
    .places__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media screen and (max-width: 320px) {
    .places__image {
        max-width: 320px;
        max-height: 320px;
        grid-row: 2/3;
    }
}