.intro__list {
    max-width: 690px;
    padding: 32px 0 0 0;
    margin: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}