.places__title {
    max-width: 460px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
    outline: 1px red solid;
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        grid-row: 1/2;
        min-width: 288px;
        margin: 0 auto;
    }
}